<section>
  <div class="page-header">
  <h1>Pre-reservation acknowledgement</h1>
</div>

<p>You have pre-reserved two <%= @pre_reservations.first.resource_category %> places.</p>

<p><b>You now have one hour</b> to complete both reservations (before <%= l @pre_reservations.first.expires_at %>). </p>

<p>
  Make sure you complete both reservations within an hour, <b>even if you
  get put on the waiting list at first</b>.
</p>

<p>
  All places will be allocated strictly in the order of pre-reservations, including waiting list places. 
</p>

<p>
  Any incompleted pre-reservations will be cancelled
  and re-allocated to the next person (and you won't get put on the waiting list).
</p>

<p>We've sent you TWO email messages, one for each place. </p>

<p>Each email contains a unique link for that place, which can be used to complete the reservation for that place. </p>

<p>You can forward one of the emails on to the other person so that they can complete it, or you can fill out the reservation for them yourself.</p>

<p>Here are the reservation links and references:</p>

<% @pre_reservations.each do |pre_reservation| %>

<h2>Reference <%= pre_reservation.reference %></h2>

<h2>&#x261e; <%= link_to "Complete this reservation", reservations_path(pre_reservation: pre_reservation.reference), target: "_blank" %></h2>

<% end %>
