<section>
  <div class="page-header">
<h1>Order received</h1>
</div>

<p>Thanks, we've received your order.</p>

<p>Your order reference is <strong><%= @day_ticket_order.reference %></strong></p>

<p><%= link_to "Pay using Go Cardless", @day_ticket_order.gocardless_url, class: "btn btn-large btn-primary "%></p>

<p>You can come back to this payment page any time by using the following link:</p>
<p><%= link_to day_ticket_order_url(@day_ticket_order) %></p>
