<% content_for :page_title, "International Dance and Music Weekend" %>
<h1 id="">Skint 2013</h1>

<h2>15th - 18th November 2013</h2>

<p><a href="http://goo.gl/maps/ll0k">Ashover Parish Hall, Ashover, Derbyshire</a></p>

<p style="margin: 1em 0">
  <a href="info.html"></a>
</p>

<p>A weekend of folk music and dance in Derbyshire for the skint, with music and dance from across Europe. Workshops, sessions, bals, lovely food, friendly atmosphere and beautiful countryside nearby!</p>

<h2>Bookings</h2>
<p>We'll be releasing tickets soon, watch this space!</p>

<p><a href="info.html">Find out more about Skint</a></p>

<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://davidheath.us2.list-manage.com/subscribe/post?u=a8c148ef7fceb7571bb84657c&amp;id=9d72550111" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
  <h2>Email list</h2>
  <p>Make sure you hear all our announcements</p>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required="required">
	<input type="submit" value="Remind me" name="subscribe" id="mc-embedded-subscribe" class="button">
</form>
</div>
<!--End mc_embed_signup-->

<iframe class="facebook-embed" src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fskintdance&amp;width=470&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=true&amp;appId=46443051792" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:470px; height:290px;" allowTransparency="true"></iframe>
