<% content_for :page_title, "Photos" %>
<h1>Photos from previous years</h1>

<p>Check <a href="http://whereiseoin.blogspot.co.uk/2012/11/the-mushrooms-are-back-again.html">João's blog</a> for photos from 2012</p>

<iframe style="margin: 0 auto" src="http://www.flickr.com/slideShow/index.gne?set_id=72157622814268986" width="500" height="500" frameBorder="0" scrolling="no"></iframe>
